@using BatchUploadExcelHelper

@model ExcelFileInfo
@{
    ViewBag.Title = "UploadResult";
}
 
<h2>
    上传成功
</h2>
<a target="_blank" href="~/File/ImportError?EntityClassName=@Model.EntityClassName&FileName=@Model.FileName" >下载错误文件（@Model.FileName）</a>

