<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="request" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />

  <alias alias="IDomainEventHandler" type="SimpleUploadExcelHelper.IEventHandler`1, SimpleUploadExcelHelper" />
  
  <alias alias="DemoEventHandler" type="SimpleImportEntity.DemoEventHandler, DemoEventHandler" />
  <alias alias="DemoEntity" type="SimpleImportEntity.DemoEntity, DemoEventHandler" />
  


  <container>
    <register type="IApplicationRepository" mapTo="ApplicationRepository">
      <lifetime type="request" />
    </register>

    <register type="IDomainEventHandler[DemoEntity]" mapTo="DemoEventHandler" name="DemoEventHandler"/>

  </container>
</unity>