@using SimpleUploadExcelHelper
@model ExcelFileInfo
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form action="~/File/SubmitUpload" enctype="multipart/form-data" method="post" >
    <a href="~/UploadFileTemplate/@Model.FileName">下载导入模版(@Model.FileName)</a>
    <input type="file" name="SubmitFile" />  
    <input type="hidden" name="EntityClassName" value="TestDataSourceModel" />
    <input type="submit" /> 
</form>

